/*
 * お飲物専用
 */

/* お飲物 リスト */
.table-drink {
	width: 520px;
	margin: auto;
	margin-bottom: 30px;
}
.table-drink tr td.td-image {
	width: 120px;
}
.table-drink tr td.td-image img {
	border-radius: 55px;
	border-style: inset;
	border-width: 5px;
	border-color: #FFFF00;
}
.table-drink tr td.td-list table.table-drink-list {
	width: 400px;
}
.table-drink tr td.td-list table.table-drink-list tr td.td-title {
	padding-left: 20px;
	font-weight: bold;
	width: 300px;
}
.table-drink tr td.td-list table.table-drink-list tr td.td-price {
	text-align: right;
	width: 100px;
}