/* 
 * 麺類・ご飯類専用
 */

/* 麺類・ご飯類 リスト */
.list-noodle_rice {
	list-style-type: none;
	width: 580px;
	overflow: hidden;
}
.list-noodle_rice li {
	width: 290px;
	height: 140px;
	float: left;
}
.list-noodle_rice li div.div-img {
	position:relative;
	float: left;
	width: 120px;
	height: 140px;
}
.list-noodle_rice li div.div-img img {
	border-radius: 55px;
	border-style: inset;
	border-width: 5px;
	border-color: #FFFF00;
}
.list-noodle_rice li div.div-img a {
	position:absolute;
	top: 5px;
	left: 5px;
	border-radius: 55px;
    width:100px;
    height:100px;
    outline: none;
}
.list-noodle_rice li div.div-img div.div-img-more {
	position: absolute;
	z-index: 3;
	background: rgba(0, 0, 0, 0.5);
	width: 100px;
	height: 100px;
	border-radius: 55px;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
	font-weight: bold;
	font-size:12px;
	display: none;
}
.list-noodle_rice li div.div-img div.div-img-more div.icon {
	width: 68px;
	text-align: center;
	margin-left: 16px;
	margin-top:16px;
}
.list-noodle_rice li div.div-img div.div-img-more div.icon img {
	width: 40px;
	height: 40px;
	border: 0px;
}
.list-noodle_rice li div.div-img div.div-img-more div.text {
	width: 68px;
	text-align: center;
	margin-left: 16px;
}
.list-noodle_rice li div.div-img div.colorbox-hide {
	display: none;
}
.list-noodle_rice li div.div-img div.multi-photo-mark {
	background-color: red;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	z-index: 4;
	top: 0px;
	left: 0px;
	padding: 6px;
	border-radius: 21px;
	transform: rotate(-15deg);
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}
.list-noodle_rice li div.div-info {
	float: left;
	width: 148px;
	height: 140px;
	line-height: 30px;
	margin-top: 10px;
}
.list-noodle_rice li div.div-info div.div-title {
	font-weight: bold;
}
.list-noodle_rice li div.div-info div.div-caution {
	font-size: 12px;
	line-height: 14px;
}
.list-noodle_rice li div.div-info div.div-price {
	text-align: right;
}

/* 麺類・ご飯類 辛さ選択 */
.div-kara-select {
	margin-top: -30px;
	margin-bottom: 30px;
}
.div-kara-select div.div-title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.div-kara-select ul.list-select {
	list-style-type: none;
	margin: auto;
	margin-left: 110px;
	overflow: hidden;
}
.div-kara-select ul.list-select li {
	float: left;
	font-weight: bold;
	text-shadow:#713E00 1px 0 0,#713E00 0 1px 0,#713E00 -1px 0 0,#713E00 0 -1px 0;
}
.div-kara-select ul.list-select li.honnori {
	width: 90px;
	color: #FFFFFF;
}
.div-kara-select ul.list-select li.futsu {
	width: 60px;
	color: #FCFF00;
}
.div-kara-select ul.list-select li.chukara {
	width: 60px;
	color: #FFBC1A;
}
.div-kara-select ul.list-select li.okara {
	width: 60px;
	color: #FF7B1A;
}
.div-kara-select ul.list-select li.mechakara {
	width: 90px;
	color: #FF0000;
}

/* 麺類・ご飯類 トッピング */
.list-topping {
	list-style-type: none;
	width: 570px;
	overflow: hidden;
}
.list-topping li {
	width: 190px;
	float: left;
}
.list-topping li div table {
	width: 190px;
}
.list-topping li div table tr td.td-title {
	font-weight: bold;
	width: 120px;
}
.list-topping li div table tr td.td-price {
	width: 70px;
}
