/* 共通bodyタグ */
.body-common {
	font-family: "メイリオ";
	background: #000000 url(/assets/img/system/body-bg.jpg) repeat;
}

/* 共通ヘッダ区域 */
.header-area {
	width: 1000px;
	position: relative;
	z-index: 1;
	margin: auto;
}

/* 共通ヘッダロゴ部分 */
.header-log	{
	width: 1000px;
	height: 250px;
	background:	url(/assets/img/header/header-log.jpg);
	border-radius: 10px;
}

/* 共通ヘッダサイトナビ部分 メインナビ */
.header-navi {
	margin-top: 10px;
}
.header-navi ul {
	font-size: 0px;
	margin-left: 2px;
	padding: 0px;
}
.header-navi ul li {
	list-style-type: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 5px;
	width: 173px;
	height:	40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	background: #FFCC66;
	border-radius: 10px;
	border-style: outset;
	border-width: 6px;
	border-top-color: #FFFFCC;
	border-bottom-color: #FF9900;
	border-left-color: #FFFFCC;
	border-right-color: #FF9900;
}
.header-navi ul li a.main-navi-link {
	color: #713E00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}
.header-navi ul li.active {
	font-size: 20px;
	background: #CC3300;
	border-style: inset;
	border-color: #FFFF00;
}
.header-navi ul li.active a.main-navi-link {
	color: #FFFF00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}
.header-navi ul li.active-sub {
	font-size: 20px;
	height:	46px;
	background: #CC3300;
	border-style: inset;
	border-color: #FFFF00;
	border-bottom-width: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.header-navi ul li.active-sub a.main-navi-link {
	color: #FFFF00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}

/* 共通ヘッダサイトナビ部分 サブナビ */
.header-sub-navi {
	margin-left: -6px;
	margin-right: -6px;
	background-color: #CC3300;
	padding-bottom: 12px;
	border-style: inset;
	border-color: #FFFF00;
	border-width: 6px;
	border-top-width: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
}
.header-sub-navi ul li {
	width: 130px;
	margin-top: 3px;
	margin-left: 0px;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	border-width: 4px;
}
.header-sub-navi ul li a.sub-navi-link {
	color: #713E00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}
.header-sub-navi ul li.active {
	font-size: 18px;
}
.header-sub-navi ul li.active a.sub-navi-link {
	color: #FFFF00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}

/* 通常中央区域 */
.body-area {
	width: 1000px;
	margin: auto;
    overflow: hidden;
}

/* 通常本文区域 */
.main-area {
	width:700px;
	margin-top: 10px;
	float: left;
}

/* 通常本文区域 通常タイプ */
.main-normal {
	color: #713E00;
	background: #F4D59F url(/assets/img/system/bg-log.png) repeat;
	width: 670px;
	margin-left: 9px;
	margin-top: 10px;
	border-radius: 13px;
	border-style: solid;
	border-color: #996600;
	border-width: 8px;
}

.main-normal-title {
	color: #F4D59F;
	background-color: #996600;
	width: 100%;
	height: 28px;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 4px;
	vertical-align: top;
	text-align: center;
}

.main-normal-content {
	color: #713E00;
	background: #F4D59F url(/assets/img/system/bg-log.png) repeat;
	padding: 20px;
	padding-bottom: 30px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* 通常本文区域 画像タイプ */
.main-image {
	background-color: #FFFF00;
	width: 670px;
	margin-left: 9px;
	margin-top: 10px;
	border-radius: 13px;
	border-style: inset;
	border-color: #FFFF00;
	border-width: 8px;
}
.main-image img {
	margin-bottom: -8px;
	border-radius: 5px;
}

/* 通常本文区域 文章タイプ */
.main-article {
	color: #713E00;
	background: #F4D59F url(/assets/img/system/bg-log.png) repeat;
	width: 646px;
	margin-left: 9px;
	margin-top: 10px;
	border-radius: 13px;
	padding: 20px;
}
.main-article h2 {
	text-align: center;
}

.main-article-table {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 600px;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	border-style: solid;
	border-width: 3px;
	border-color: #713E00;
}
.main-article-table tr {
}
.main-article-table th {
	margin: 0px;
	width: 150px;
	vertical-align: middle;
	background-color: #DDBB88;
	border-color: #713E00;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}
.main-article-table td {
	margin: 0px;
	vertical-align: top;
	border-color: #713E00;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}
.main-article-table td.main-article-table-title {
	text-align: center;
	background-color: #713E00;
	color: #F4D59F;
	font-weight: bold;
	font-size: 20px;
}

.main-article-title {
	text-align: center;
	font-weight: bold;
	font-size: 26px;
}

.main-article-subtitle {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.main-article-center {
	text-align: center;
}

/* 通常本文区域 ページャタイプ */
.main-pager {
	width: 700px;
	text-align: center;
}
.main-pager table {
	margin: auto;
}
.main-pager ul {
	list-style-type: none;
	widows: 646px;
	padding-left: 0px;
	overflow: hidden;
}
.main-pager ul li {
	background-color: #F4D59F;
	float: left;
	display: inline;
	width: 26px;
	margin: 5px;
	padding: 5px;
	border-radius: 20px;
	color: #713E00;
}
.main-pager ul li a {
	text-decoration: none;
	color: #713E00;
}
.main-pager ul li.long {
	width: 52px;
}

/* 通常サイドバー区域 */
.sidebar-area {
	width: 300px;
	margin-top: 10px;
	float: left;
}

/* 通常サイドバー内容部分 */
.sidebar-content {
	background-color: #F4D59F;
	width: 245px;
	margin-top: 10px;
	margin-left: 7px;
	border-radius: 10px;
	padding: 20px;
}

/* サイドバー店舗トップ部分 */
.sidebar-maininfo {
	background-image: url(/assets/img/sidebar/sidebar-top.jpg);
	width: 273px;
	height: 168px;
	margin-top: 10px;
	margin-left: 7px;
	border-radius: 10px;
	border-style: inset;
	border-color: #FFFF00;
	border-width: 6px;
}

/* サイドバースライドニュース部分 */
.sidebar-slide {
	background-color: #F4D59F;
	color: #713E00;
	font-weight: bold;
	padding-left: 12px;
	padding-right: 8px;
	width: 253px;
	height: 132px;
	margin-top: 35px;
	margin-left: 7px;
	border-radius: 10px;
	border-top-left-radius: 2px;
	border-style: solid;
	border-color: #996600;
	border-width: 6px;
    overflow: hidden;
}
.sidebar-slide-title {
    background-color: #996600;
    color: #F4D59F;
	position: absolute;
	margin-top: -30px;
	margin-left: -18px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.sidebar-slide-content {
    overflow: hidden;
    height: 120px;
}
.sidebar-slide-content ul {
	list-style-type: none;
    position: relative;
	padding-left: 0px;
}
.sidebar-slide-content ul li {
	list-style-type: none;
	display: none;
}

/* サイドバーアンケート導線部分 */
.sidebar-enquete {
	background-image: url(/assets/img/sidebar/sidebar-enquete.jpg);
	width: 285px;
	height: 180px;
	margin-top: 10px;
	margin-left: 7px;
	border-radius: 10px;
}
.link-enquete {
	text-align: center;
	padding-top: 132px;
}
.link-enquete a {
	line-height: 40px;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: #713E00;
	background: #FFCC66;
	border-radius: 3px;
	border-style: outset;
	border-width: 3px;
	border-top-color: #FFFFCC;
	border-bottom-color: #FF9900;
	border-left-color: #FFFFCC;
	border-right-color: #FF9900;
	font-weight: bold;
    user-select:none;
}
.link-enquete a:hover {
	background-color: #713E00;
	border-style: solid;
	border-color: #713E00;
	color: #F4D59F;
}

/* サイドバートップ戻り部分 */
.sidebar-toplink {
	text-decoration: none;
}
.sidebar-toplink div {
	margin-top: 10px;
	margin-left: 7px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px;
	width: 277px;
	color: #713E00;
	background: #FFCC66;
	border-radius: 8px;
	border-style: outset;
	border-width: 4px;
	border-top-color: #FFFFCC;
	border-bottom-color: #FF9900;
	border-left-color: #FFFFCC;
	border-right-color: #FF9900;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.sidebar-toplink:hover div {
	background-color: #713E00;
	border-style: solid;
	border-color: #FFFFCC;
	color: #F4D59F;
}

/* 共通フッター区域 */
.footer-area {
	width: 1000px;
	height: 250px;
	margin: auto;
	margin-top: 15px;
	background:	url(/assets/img/footer/footer-log.jpg);
    overflow: hidden;
	border-radius: 10px;
}
.footer-area div {
	float: left;
	width: 140px;
	margin-top: 20px;
}
.footer-area div:first-child {
	margin-left: 695px;
}
.footer-area div ul {
	list-style-type: none;
	padding-left: 0px;
}
.footer-area div ul li {
	list-style-type: none;
	line-height: 30px;
}
.footer-area div ul li.high {
	line-height: 60px;
}
.footer-area div ul li.main {
	font-weight: bold;
}
.footer-area div ul li.sub {
	padding-left: 15px;
	font-size: 14px;
}
.footer-area div ul a {
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFF00;
}
.footer-area div ul a:hover {
	background-color: #FFFF00;
	color: #FF0000;
	border-radius: 20px;
}

/* 注意書き */
.caution {
	font-size: 12px;
}
