/* 共通bodyタグ */
.body-common {
	background: #000000 url(/assets/img/pc/system/body-bg.jpg) repeat;
}

/* 共通ヘッダ区域 */
.header-area {
	width: 1000px;
	margin: auto;
}

/* 共通ヘッダロゴ部分 */
.header-log	{
	width: 1000px;
	height: 179px;
	background:	url(/assets/img/pc/system/header-log.jpg);
}

/* 共通ヘッダサイトナビ部分 メインナビ */
.header-navi {
	font-family: "ＭＳ Ｐ明朝";
	margin-top: 10px;
}
.header-navi ul {
	font-size: 0px;
	margin-left: 2px;
	padding: 0px;
}
.header-navi ul li {
	list-style-type: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 5px;
	width: 173px;
	height:	40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	background: #FFCC66;
	border-radius: 10px;
	border-style: outset;
	border-width: 6px;
	border-top-color: #FFFFCC;
	border-bottom-color: #FF9900;
	border-left-color: #FFFFCC;
	border-right-color: #FF9900;
}
.header-navi ul li a.main-navi-link {
	color: #713E00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}
.header-navi ul li.active {
	font-size: 20px;
	background: #CC3300;
	border-style: inset;
	border-color: #FFFF00;
}
.header-navi ul li.active a.main-navi-link {
	color: #FFFF00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}
.header-navi ul li.active-sub {
	font-size: 20px;
	height:	46px;
	background: #CC3300;
	border-style: inset;
	border-color: #FFFF00;
	border-bottom-width: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.header-navi ul li.active-sub a.main-navi-link {
	color: #FFFF00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}

/* 共通ヘッダサイトナビ部分 サブナビ */
.header-sub-navi {
	margin-left: -6px;
	margin-right: -6px;
	background-color: #CC3300;
	padding-bottom: 12px;
	border-style: inset;
	border-color: #FFFF00;
	border-width: 6px;
	border-top-width: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
}
.header-sub-navi ul li {
	width: 130px;
	margin-top: 3px;
	margin-left: 0px;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	border-width: 4px;
}
.header-sub-navi ul li a.sub-navi-link {
	color: #713E00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}
.header-sub-navi ul li.active {
	font-size: 18px;
}
.header-sub-navi ul li.active a.sub-navi-link {
	color: #FFFF00;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}

/* 通常中央区域 */
.body-area {
	width: 1000px;
	margin: auto;
}

/* 通常本文区域 */
.main-area {
	width:700px;
	margin-top: 10px;
	float: left;
}

/* 通常本文区域 画像タイプ */
.main-content-image {
	background-color: #FFFF00;
	width: 670px;
	margin-left: 9px;
	margin-top: 10px;
	border-radius: 10px;
	border-style: inset;
	border-color: #FFFF00;
	border-width: 8px;
}
.main-content-image img {
	margin-bottom: -3px;
	border-radius: 5px;
}

/* 通常本文区域 文章タイプ */
.main-content-article {
	color: #713E00;
	background: #F4D59F url(/assets/img/pc/system/bg-log.png) repeat;
	width: 646px;
	margin-left: 9px;
	margin-top: 10px;
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 30px;
}
.main-content-article h2 {
	text-align: center;
}

/* 通常サイドバー区域 */
.sidebar-area {
	width: 300px;
	margin-top: 10px;
	float: left;
}

/* 通常サイドバー内容部分 */
.sidebar-content {
	background-color: yellow;
	width: 245px;
	margin-top: 10px;
	margin-left: 7px;
	border-radius: 10px;
	padding: 20px;
}