/* 
 * 麺類・ご飯類専用
 */

/* 麺類・ご飯類 リスト */
.list-staple {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}
.list-staple li {
    width: 100%;
    height: 140px;
    float: left;
}
.list-staple li div.product-area {
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: auto;
}
.list-staple li div.div-img {
	position:relative;
    float: left;
    width: 120px;
}
.list-staple li div.div-img img {
    border-radius: 55px;
    margin: auto;
    border-style: inset;
    border-width: 5px;
    border-color: #FFFF00;
}
.list-staple li div.div-img a {
	position:absolute;
	top: 5px;
	left: 5px;
	border-radius: 55px;
    width:100px;
    height:100px;
    outline: none;
}
.list-staple li div.div-img div.div-img-more {
	position: absolute;
    margin: auto;
	z-index: 3;
	background: rgba(0, 0, 0, 0.5);
	width: 100px;
	height: 100px;
	border-radius: 55px;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
	font-weight: bold;
	font-size:12px;
	display: none;
}
.list-staple li div.div-img div.colorbox-hide {
	display: none;
}
.list-staple li div.div-img div.multi-photo-mark {
	background-color: red;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	z-index: 4;
	top: 0px;
	left: 0px;
	padding: 6px;
	border-radius: 21px;
	transform: rotate(-15deg);
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}
.list-staple li div.div-info {
	position: absolute;
    float: left;
    vertical-align: middle;
    padding-top: 10px;
    left: 130px;
    right: 0px;
}
.list-staple li div.div-info div.div-title {
    font-weight: bold;
}
.list-staple li div.div-info div.div-caution {
	font-size: 12px;
	line-height: 14px;
}
.list-staple li div.div-info div.div-price {
    text-align: right;
}

/* 麺類・ご飯類 辛さ選択 */
.div-kara-select {
	max-width: 500px;
	margin: auto;
}
.div-kara-select div.div-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.div-kara-select ul.list-select {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    padding: 0px;
}
.div-kara-select ul.list-select li {
    float: left;
    text-align: center;
    font-weight: bold;
    text-shadow:#713E00 1px 0 0,#713E00 0 1px 0,#713E00 -1px 0 0,#713E00 0 -1px 0;
}
.div-kara-select ul.list-select li.honnori {
    width: 26%;
    color: #FFFFFF;
}
.div-kara-select ul.list-select li.futsu {
    width: 14%;
    color: #FCFF00;
}
.div-kara-select ul.list-select li.chukara {
    width: 14%;
    color: #FFBC1A;
}
.div-kara-select ul.list-select li.okara {
    width: 14%;
    color: #FF7B1A;
}
.div-kara-select ul.list-select li.mechakara {
    width: 32%;
    color: #FF0000;
}

/* 麺類・ご飯類 トッピング */
.list-topping {
    list-style-type: none;
    width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0px;
}
.list-topping li {
    width: 100%;
    float: left;
}
.list-topping li div {
	width: 100%;
	max-width: 300px;
	margin: auto;
}
.list-topping li div table {
    width: 100%;
}
.list-topping li div table tr td.td-title {
    font-weight: bold;
    width: 60%;
}
.list-topping li div table tr td.td-price {
    text-align: right;
    width: 40%;
}